/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

button {
  font-family: 'raleway'; font-size: 15px;
  background-color:rgb(246, 236, 200);
  border-radius:20%;
} 

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #1c1b1c;
}

body {
  background-color: #1c1b1c;
}

p, h2, h3, li, input, #enter {
  font-family: raleway;
  color: white
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: rgb(246, 236, 200);
}