/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
.highlight {
  background-color: #d7eaf8;
  border: solid 1px blueviolet;
}

button {
  font-family: 'raleway'; font-size: 15px;
  background-color:#fadef4;
  border-radius:20%;
} 


.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #d7eaf8;
  ;
}

body {
  background-color: #fadef4;
}

p, h1, h2, h3, li {
  font-family: raleway;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #e0d3fb;
}