/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #d7eaf8;
    ;
  }

  .filestruc-photo {
    margin: 10px;
    max-width: 500px;
  }

  .indexart101-photo {
    margin: 10px;
    max-width: 500px;
  }

  .homepage-photo {
    margin: 10px;
    max-width: 500px;
  }

  .indexlab3-photo {
    margin: 10px;
    max-width: 500px;
  }

  .lab3browser-photo {
    margin: 10px;
    max-width: 500px;
  }